// 기본 스타일 -------------------------------------------------------------------- /
// 루트 요소의 기본 글자 크기 및 가로 스크바 제거 ----------------------------------------------- /
html {
  // font-size: $rootUnit;
  overflow-y: visible;
}

// 기본 박스 사이징 설정 -------------------------------------------------------------- /
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

// 기본 여백 제거 ------------------------------------------------------------------ /
[class] {
  margin: 0;
}

// 본문 기본 폰트, 글자 크기, 굵기, 배경 색상 지정 --------------------------------------------- /
body {
  min-width: $breakpoint;
  font-family: 'Noto Sans KR', 'Sans-serif';
  font-size: inherit;
  color: $black;
  word-break: break-all;
}

// 제목 글자 크기 및 굵기 재지정 --------------------------------------------------------- /
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

// 목록 안쪽 여백 및 불릿 제거 ---------------------------------------------------------- /
ul,
ol {
  padding-left: 0;
  list-style: none;
}

// 이미지에 발생하는 갭 제거 ------------------------------------------------------------ /
img {
  vertical-align: middle;
}

// 링크 요소의 밑줄 및 글자 색상 재 정의 ---------------------------------------------------- /
a {
  color: inherit;
  text-decoration: none;
}

// 버튼 마우스 스타일 설정 ------------------------------------------------------------- /
button {
  padding: 0;
  background-color: transparent;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: 'Noto Sans KR', 'Sans-serif';
  line-height: 1.4;
}

input {
  padding: 0 8px;
  vertical-align: top;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

body.modal-open {
  overflow-x: hidden;
  overflow-y: auto;
}

.--hide {
  display: none;
}
