:root {
  --scroll-width: 10px;
}

body {
  overflow-y: hidden;
}

.navigation {
  float: right;
  width: 260px;

  @include laptop {
    background-color: #fcf;
  }
}

.current-nav {
  font-family: 'yg-jalnan';
  font-size: 2.8rem;
}
