:root {
  --scroll-width: 10px;
}

body {
  overflow-y: hidden;
}
.navigation {
  float: right;
  width: 260px;

  @include laptop {
    background-color: #fcf;
  }
}

.current-nav {
  font-family: 'yg-jalnan';
  font-size: 2.8rem;
}

.calendar {
  max-height: 100vh;
  overflow-y: auto;
  padding: 60px 0 0 20px;
  width: calc(100% - 260px);

  @include laptop {
    padding-top: 0;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryPink;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: $primaryLightPink2;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

  &-weekday {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 20px;
    width: calc(100% - 260px - var(--scroll-width));
    background: $white;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;

    @include laptop {
      position: static;
      padding-left: 0;
      width: 100%;
    }
  }

  &-date {
    position: relative;
    padding: 12px 0;
    min-height: 160px;

    &-txt {
      display: block;
      margin: 0 0 10px 12px;
    }
  }
}

.calendar-weekday,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-right: 1px solid $gray;
}

.calendar-day,
.calendar-date {
  border-bottom: 1px solid $gray;
  border-left: 1px solid $gray;
}

.item {
  position: relative;
  padding: 6px 12px;
  min-height: 40px;
  line-height: 1.4;

  &:hover {
    background: $primaryTransPink;
  }

  &:hover .item-todo-txt {
    opacity: 0.3;
  }

  &:hover .item-util {
    opacity: 1;
  }

  &-add-btn {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &-util {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.item-todo {
  &-chkbox {
    opacity: 0;
    position: absolute;
    top: 6px;
    left: 12px;
    width: 26px;
    height: 26px;
    z-index: 4;
  }

  &-chkicon {
    position: absolute;
    top: 6px;
    left: 12px;
    width: 26px;
    height: 26px;
    background-image: url(../img/unchecked2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  &-chkbox:checked + .item-todo-chkicon {
    background-image: url(../img/checked.png);
  }

  &-txt {
    display: block;
    padding-left: 34px;
  }
}
