.unactive{
  background-color: gray;
  opacity: 0.5;
}
.calendar {
  max-height: 100vh;
  overflow-y: auto;
  padding: 60px 0 0 20px;
  width: calc(100% - 260px);

  @include laptop {
    padding-top: 0;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryPink;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: $primaryLightPink2;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

  &-weekday {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 20px;
    width: calc(100% - 260px - var(--scroll-width));
    background: $white;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;

    @include laptop {
      position: static;
      padding-left: 0;
      width: 100%;
    }
  }

  &-date {
    position: relative;
    padding: 12px 0;
    min-height: 160px;

    &-txt {
      display: block;
      margin: 0 0 10px 12px;
    }
  }
}

.calendar-weekday,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-right: 1px solid $gray;
}

.calendar-day,
.calendar-date {
  border-bottom: 1px solid $gray;
  border-left: 1px solid $gray;
}

.calendar-day {
  &:nth-child(7n-1) {
    color: $calendarBlue;
  }

  &:nth-child(7n) {
    color: $calendarRed;
  }
}

.calendar-date {
  &:nth-child(7n-1) .calendar-date-txt {
    color: $calendarBlue;
  }

  &:nth-child(7n) .calendar-date-txt {
    color: $calendarRed;
  }
}
