.dropdown {
  position: relative;
  width: 220px;
  margin: 0 auto 8px;

  &-toggle {
    padding: 0 40px 0 16px;
    width: 100%;
    height: 50px;
    background: url('../../img/down.png') no-repeat 190px center/16px;
    border-radius: 6px;
    border: 1px solid $transGray;
    line-height: 49px;
    text-align: left;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-menu {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    max-height: 0;
    background: $white;
    border-radius: 6px;
    transition: 0.2s;
  }

  &-menu.--show {
    overflow-y: auto;
    visibility: visible;
    padding: 8px 0;
    max-height: 440px;
    border-color: 1px solid $transGray2;
    box-shadow: $boxShadow;
    scrollbar-width: none; /* Firefox  */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-option,
  &-option-icon {
    margin: 0 2px;
    padding: 0 14px;
    width: calc(100% - 4px);
    height: 44px;
    line-height: 44px;
    text-align: inherit;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background-color: $lightGray;
    }

    &.--selected {
      color: $primaryPlum;
    }
  }

  &-option-icon {
    padding: 0 4px 0 10px;
  }

  &-item-input {
    width: calc(100% - 44px);
    height: 40px;
    line-height: 38px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:disabled {
      background: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
    }
  }

  &-add {
    margin-top: 10px;
    padding: 0 4px 0 10px;
  }
}

.dropdown-calendar {
  position: absolute;
  top: 56px;
  left: 20px;
  z-index: 5;

  & .dropdown-menu {
    display: flex;
  }

  & .dropdown-year,
  & .dropdown-month {
    width: 48%;
    text-align: center;
  }
}

.selected-year,
.selected-month {
  display: inline-block;
  width: 48%;
  text-align: center;
  font-size: 1.1rem;
}

.category-add-input {
  width: calc(100% - 44px);
  height: 40px;
  background: #f6f6f6;
  border: none;
  border-radius: 10px;
  line-height: 38px;
  font-size: 1rem;
}
