.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fcf;
  font-size: 1.1rem;

  &-add {
    background: url(../../img/plus.png) 50%/30% no-repeat rgba(255, 204, 0, 0.4);
  }

  &-delete {
    margin: 0 6px;
    background: url(../../img/delete.png) 50%/54% no-repeat $white;
    border-radius: 100%;
  }

  &-edit {
    background: url(../../img/edit.png) 50%/54% no-repeat $white;
    border-radius: 100%;
  }

  &-down {
    &::before {
      content: '\f107';
      font-family: fontello;
    }
  }
}
