.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fcf;
  font-size: 1.1rem;

  &-add {
    background: url(../../img/plus.png) 50%/30% no-repeat rgba(255, 204, 0, 0.4);
  }

  &-add-gray {
    background: url(../../img/plus-gray.png) 50%/50% no-repeat;
  }

  &-control {
    background: url(../../img/control.png) 50%/46% no-repeat $primaryPink;
    border-radius: 100%;
    box-shadow: $boxShadow;
  }

  &-move {
    background: url(../../img/move.png) 50%/46% no-repeat $white;
    border-radius: 100%;
  }

  &-edit {
    background: url(../../img/edit.png) 50%/54% no-repeat $white;
    border-radius: 100%;
  }

  &-edit-gray {
    background: url(../../img/edit-gray.png) 50%/54% no-repeat $white;
  }

  &-delete {
    background: url(../../img/delete.png) 50%/54% no-repeat $white;
    border-radius: 100%;
  }

  &-delete-gray {
    background: url(../../img/delete-gray.png) 50%/50% no-repeat;
    &:hover {
      background-image: url(../../img/delete.png);
    }
  }

  &-close {
    background: url(../../img/close.png) 50%/40% no-repeat;
  }
}
