.modal-dim {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  transition: 0.8s 0.2s;

  &.--show {
    display: block;
    animation: dimShow 0.2s forwards;
  }
}

@keyframes dimShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
    transform: translate3d(-50%, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}

.modal {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 20vh;
  left: 50vw;
  min-height: 200px;
  background-color: #fff;
  padding: 0px 36px 30px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  z-index: 1000;

  &.--show {
    display: block;
    animation: modalShow 0.3s forwards;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    background: $primaryLightPink;
  }

  &-title {
    display: block;
    margin-bottom: 28px;
    width: 100%;
    height: 76px;
    line-height: 92px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &-input {
    margin-bottom: 20px;
  }

  &-input-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 300;
  }

  &-input-txt {
    padding: 8px;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    border-color: $transGray;
    resize: none;
    font-size: 0.9rem;
    line-height: 1.4;
  }

  &-submit-btn {
    display: block;
    margin: 0 auto;
    padding: 0 46px;
  }

  &-close-btn {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  & .dropdown {
    width: 300px;
  }

  & .dropdown-toggle {
    background-position-x: 270px;
  }
}
